<!DOCTYPE html>
<html>
<head>
  <link href="./css/main.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">

  </div>

  <script src="./js/IDBHelper.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>

    const Splitter = 
    {
      props:
      {
        horizontal:
        {
          type: Boolean,
          default: false,
        },
      },

      data()
      {
        return {
          
          isMouseDown: false,

        }
      },

      methods:
      {
        mouseDown: function (e)
        {
          this.$emit("resizeStart", e);

          // this.isMouseDown = true;
        },
      },

      computed:
      {
        className:
        {
          get()
          {
            return !this.horizontal ? "splitter" : "splitter_h";
          }
        },
      },

      template: `
        <div tabindex="0" @mousedown="mouseDown" :class="className">
        </div>
      `
    }

    const Panel = 
    {
      name: "Panel",

      components:
      {
        "Splitter": Splitter
      },

      data()
      {
        return {
          width: 100,
          horizontal: false,

          rootElement: null,
          parent: null,
        }
      },

      mounted: function()
      {
        this.rootElement = this.$el;
        this.parent = this.$parent != null && this.$parent.isSplitPanel ? this.$parent : null;

        if (this.parent != null)
        {
          this.horizontal = this.parent.horizontal;
        }


      },

      computed: 
      {
        showSplitter:
        {
          get()
          {
            if (this.rootElement == null) return false;
            return this.rootElement.nextElementSibling != null;
          }
        },

        panelClassName:
        {
          get()
          {
            return !this.horizontal ? "panel" : "panel_h";
          }
        },

        innerContainerClassName:
        {
          get()
          {
            return !this.horizontal ? "innerContainer" : "innerContainer_h";
          }
        },

        innerContainer2ClassName:
        {
          get()
          {
            return !this.horizontal ? "innerContainer2" : "innerContainer2_h";
          }
        }
      },

      methods:
      {
        _resizeStart: function(e) 
        {
          this.parent?.resizeStart(e, this);
        },

        _resizeEnd: function()
        {
          this.parent?.resizeEnd(this);
        },

        setWidth(width)
        {          
          this.$refs.innerContainer.style.width = `${width}px`;
        },

        setHeight(height)
        {          
          this.$refs.innerContainer.style.height = `${height}px`;
        }
      },

      template: `
          <div :class="panelClassName">
          <div ref="innerContainer" :class="innerContainerClassName">
            <!--<div :class="innerContainer2ClassName">-->
              <slot></slot>
            <!--</div>-->
          </div>
          <Splitter v-show="showSplitter" :horizontal="horizontal" @resizeStart="_resizeStart"></Splitter>
          </div>
      `
    }

    const SplitPanel = 
    {
      components:
      {
        "Panel": Panel,
      },

      props:
      {
        "horizontal":
        {
          default: false,
          type: Boolean
        }
      },

      methods:
      {
        resizeStart: function(e, target)
        {
          window.getSelection().removeAllRanges();

          this.enterPos.x = e.x;
          this.enterPos.y = e.y;

          this.changeTargetPanel = target;
        },

        mousemove(e)
        {
          if (this.changeTargetPanel != null)
          {
            if (!this.horizontal)
            {
              this.changeTargetPanel.setWidth(e.x);
            }
            else
            {
              this.changeTargetPanel.setHeight(e.y);
            }
          }
        },

        mouseup(e)
        {
          console.log(e, this.enterPos);

          console.log("END");
          this.changeTargetPanel = null;
        }

      },

      data()
      {
        return {
          isSplitPanel: true,

          changeTargetPanel : null,
          enterPos: { x: 0, y: 0 },

        }
      },

      template: `
        <div :class="!horizontal ? 'splitpanel' : 'splitpanel_h'" @mousemove="mousemove" @mouseup="mouseup">
          <slot></slot>
        </div>
      `
    }


    class templateStore
    {
        constructor()
        {
            this.reader = new FileReader();
            this.reader.addEventListener("load", () => console.log(this.reader.result));

            this.tree = [];

            this.aaa = 0;
            this.bbb = {
                ccc: []
            }
        }

        async openDirectory(targetHandle = null)
        {
            if (targetHandle == null)
            {
              const newHandle = await window.showDirectoryPicker();

              const idbhelper = new IDBHelper();

              await idbhelper.open("configStore", () => IDBHelper.createStore("pickedHandles"));
              
              idbhelper.transaction("pickedHandles", async (target) => 
              {
                await target.putObject(0, { handle: newHandle });
                console.log("書き込み完了");
                console.log((await target.get(0)).result);
              });

              this.scanDirectories(await newHandle.entries());
            }
            else
            {
              this.scanDirectories(await targetHandle.entries());
            }
        }

        async scanDirectories(entries)
        {
            for await (const [name, handle] of entries) 
            {
                if (handle.kind == "file")
                {
                    console.log(await(await handle.getFile()).text());
                }
                else if (handle.kind == "directory")
                {
                    // console.log({ name, handle });

                    await this.scanDirectories(handle.entries());
                }
            }
        }
    }

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),

      components: 
      {
        "Panel": Panel,
        "SplitPanel": SplitPanel,
      },

      data()
      {
        return {
            templates: new templateStore(),

      items: [
        {
          icon: 'mdi-inbox',
          text: 'Inboxaaaaaaaaaaaaaaaaaaaa',
        },
        {
          icon: 'mdi-star',
          text: 'Star',
        },
        {
          icon: 'mdi-send',
          text: 'Send',
        },
        {
          icon: 'mdi-email-open',
          text: 'Drafts',
        },
        {
          icon: 'mdi-email-open',
          text: 'Drafts',
        },
        {
          icon: 'mdi-email-open',
          text: 'Drafts',
        },
        {
          icon: 'mdi-email-open',
          text: 'Drafts',
        },
        {
          icon: 'mdi-email-open',
          text: 'Drafts',
        },
        {
          icon: 'mdi-email-open',
          text: 'Drafts',
        },
        
      ],
      model: 1,
        };
      },

      methods:
      {
        async selectDirectory()
        {
            const idbhelper = new IDBHelper();
            await idbhelper.open("configStore");

            await idbhelper.transaction("pickedHandles", async (target) => 
            {
              const obj = (await target.get(0)).result;       
              console.log(obj);     
              await obj.handle.requestPermission({ mode: "readwrite" });

              this.templates.openDirectory(obj.handle);
            });
        },

        test()
        {
            this.templates.bbb.ccc.push("adwadaw");
        },
      },

      a_template: `
        <div>
          <div style="position: relative; background-color: red; width: 100px; height: 100px; top: 100px; left: 100px;">
            <div style="height: 50%; width: 10px; background-color: blue;"></div> 
            <div style="height: 50%; width: 10px; background-color: black;"></div> 
          </div>
          <div style="width:100px; background-color: yellow; height: 870px;"></div>
            
        </div>
      `,

      template:`
        <v-app>          
            <v-main>
                <div class="mainContainer">
                  <v-app-bar elevation="4" dark>
                    <v-btn @click="selectDirectory">AAA</v-btn>
                    </v-app-bar>
                  <div class="content">
                  <SplitPanel>

<Panel>
  <v-list>
  <v-list-item-group v-model="model">
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
      >
        <v-list-item-icon>
          <v-icon v-text="item.icon"></v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-text="item.text"></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</Panel>

<Panel>
  <SplitPanel horizontal>
      <Panel>
      <v-list>
      <v-list-item-group v-model="model">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    </Panel>

      <Panel>
      <v-list>
      <v-list-item-group v-model="model">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    </Panel>

  </SplitPanel>  

</Panel>
</SplitPanel>
</div>

                </div>

            </v-main>
        </v-app>
      `
    })
  </script>
</body>
</html>